body {
    background-color: black;
    color: #ffffff;
    height: 100vh;
    overflow: hidden;
}

/* @media only screen and (orientation: portrait) {
    .left * {
        display: none;
    }

    .library * {
        display:none;
    }

} */


.main {
    display: flex;
    gap: 8px;
    height: 100vh;
    position: relative;
}


/* Left Start */

.left {
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    gap: 6px;
    width: 20vw;
    height: calc(100vh - 16px);
    font-size: 14px;
    margin: 8px 0 0 4px;
    overflow: hidden;
    background-color: black;
    position: relative;
    transition: left 0.5s;

    /* border: 2px solid red; */
}

.left .nav {
    background-color: #121212;
}

.left .nav>* {
    padding: 8px;
}

.left .nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    /* font-size: 14px; */
    padding-bottom: 8px;
}

/* Left End */


/* Library Start */

.library {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: black;
    overflow-y: auto;
    /* position: relative; */
}

.lib-nav {
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    box-shadow: 0 0 2px 1px black;
    /* width: inherit; */
    border-radius: 4px 4px 0 0;

    position: sticky;
    z-index: 2;
    top: 0;
}

.lib-nav ul {
    display: flex;
    padding: 4px 8px;
    gap: 8px;
}

.lib-nav ul li {
    display: flex;
    list-style: none;
    align-items: center;
}

.playlists {
    padding: 6px;
    background-color: black;
    overflow-y: auto;
}

.playlists ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
}

.playlists ul>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: #222;
    /* border: 1px solid #999; */
    list-style: none;
}

.songs {
    text-decoration: none;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

/* Library End */


/* Left footer Start */
.left-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 20px 4px;
    /* height: 100%; */
    align-content: end;
    padding: 26px 12px 12px 12px;
}

.left-footer a {
    color: #bab9b9;
    text-decoration: none;
    padding: 0 16px 8px 0;
    margin-right: 4px;
    font-size: 10px;
}

/* Left footer End */


/* Right Start */
.right {
    display: flex;
    flex-direction: column;
    width: 80vw;

    gap: 8px;
    position: relative;
    /* height: calc(100vh - 16px); */
    height: calc(100vh - 8px);
    overflow: auto;
}

/* Right Navbar Start */

.right .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 8px 24px;
    margin-top: 8px;

    position: sticky;
    top: 8px;
    z-index: 1;
}

/* Right Navbar End */

.hero-parent {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: calc(100vh - 60px);
    padding-bottom: 120px;
    overflow-y: auto;
    gap: 10px;
}

.hero-row1, .hero-rows {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.hero-rows .playlist-desc {
    padding: 8px 0;
}
.hero-rows .playlist-header {
    padding: 6px 0;
}

/* Play Card Start */
.play-card {
    width: 150px;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    /* border: 2px solid red ; */
    /* gap: 10px; */

    background-color: #121212;
    padding: 8px;
    margin-top: 8px;

    position: relative;
}

.play-green{
    background-image: url('assets/icons/play-solid-green.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 28px;
    background-clip: border-box;
    cursor: pointer;
    background-size: 32px ;
    padding:12px;
    position: absolute;
    bottom: 30%;
    right: 16px;
    z-index: 1;

    transition: opacity 0.5s ease, transform 0.5s ease, bottom 0.5s ease;
    opacity: 0;
    transform: translateY(10px);
    /* transform: scale(0.8); */
}


.play-card:hover{
    background-color: #222;
}

.play-card:hover .play-green {
    opacity: 1;
    transform: translateY(0);
    bottom: 42%;
    /* transform: scale(1); */
}

.play-card > .play-green:active {
    transform: translateY(0) scale(0.9);
}

.play-card:active{
    background-color: #353535;
}


.play-card>* {
    padding: 4px 12px 8px 12px;
}

.play-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
}

.playlist-header {
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.play-img {
    padding: 6px;
    border-radius: 16px;
    width: 140px;
    cursor: pointer;
    /* height: 140px; */
}

.playlist-desc {
    font-size: 12px;
    text-align: start;
    padding: 4px 0;
}

/* Play Card End */





/* Right End */

/* @media (max-width: 1000px) { */
@media only screen and (orientation:portrait) {
    .left {
        position: absolute;
        /* background-color: red; */
        left: -100%;
        z-index: 5;
        width: 98vw;
    }

    .right {
        width: 100vw;
        justify-content: center;
    }

    .hamburger-toggle {
        display: block !important;
    }

    .right .play-bar {
        width: 96vw;
        align-self: center;
        margin: 2px;
    }

    .play-bar .playbar-buttons {
        padding: 2px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 8px;
        justify-items: center;
        align-items: center;
    }

    /* First row: prev, play, next */
    #play-prev {
        grid-column: 1;
        grid-row: 1;
    }

    #play-btn {
        grid-column: 2;
        grid-row: 1;
    }

    #play-next {
        grid-column: 3;
        grid-row: 1;
    }

    /* Second row: loop button centered */
    #play-loop {
        grid-column: 1 / -1; /* Span all columns */
        grid-row: 2;
        justify-self: center;

        height: fit-content;
        width: fit-content;
    }

    .play-bar .song-playing,
    .play-bar .song-duration {
        padding: 12px;
    }

    .right .hero-parent {
        align-items: center;
        text-align: left;
    }

    .right .onb-btn {
        padding: 10px 22px;
    }

    .hero-parent .row-header {
        width: 94vw;
    }

    .right .nav {
        padding: 8px 16px;
    }

    .left-footer {
        padding-bottom: 46px;
    }

    .hero-parent{
        margin-bottom: 16vh;
    }

}